$primaryLightColor: #91CC9D;
$primaryColor:#6EC180;
$primaryDarkColor: #34B56F;
$primaryDarkerColor: #157943;
$primaryTextColor: #FFFFFF;

$primaryLighterColor: rgba($primaryLightColor,.1);

@import '../sass/theme/_theme_dark';